In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('previous_application.csv')
df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

## catagorical Univariate Analysis - Contract_Type vs Contract_Status

In [4]:
# Type of loan vs approval rate
df_approved_Insured = df[['SK_ID_CURR','NAME_CONTRACT_TYPE','NAME_CONTRACT_STATUS']]
# Removing all rows with CONTRACT TYPE = XNA
df_approved_Insured= df_approved_Insured.replace('XNA',np.nan)
df_approved_Insured= df_approved_Insured.dropna(how='all',axis=0)
df_approved_Insured.head()

   SK_ID_CURR NAME_CONTRACT_TYPE NAME_CONTRACT_STATUS
0      271877     Consumer loans             Approved
1      108129         Cash loans             Approved
2      122040         Cash loans             Approved
3      176158         Cash loans             Approved
4      202054         Cash loans              Refused

In [5]:
# Removing the colums with NoData
df_bar = df_approved_Insured[['NAME_CONTRACT_TYPE','NAME_CONTRACT_STATUS','SK_ID_CURR']].groupby(['NAME_CONTRACT_TYPE', 'NAME_CONTRACT_STATUS']).size()
(df_bar / df_bar.groupby(level=0).sum())*100

NAME_CONTRACT_TYPE  NAME_CONTRACT_STATUS
Cash loans          Approved                41.808407
                    Canceled                35.929359
                    Refused                 22.196152
                    Unused offer             0.066082
Consumer loans      Approved                85.917732
                    Canceled                 0.213810
                    Refused                 10.311307
                    Unused offer             3.557151
Revolving loans     Approved                50.615539
                    Canceled                23.738378
                    Refused                 25.643495
                    Unused offer             0.002588
dtype: float64

## Analysis (Contract_Type vs Contract_Status)
<ul>
    <li> Consumer loans has the highest percentage of approval rate</li>
    <li> Consumer loans tend to have a very high percentage of loan converstion with very less percentage of cancellation. Banks can have high rate of loan conversion with respect to consumer loans compared to Cash loans and Revolving loans </li>
    <li> Chances of getting approval for Cash loans and revolving loans is around 40-50 (Percentage)</li>  
</ul>

## catagorical Univariate Analysis - yield group vs Contract_Status

In [6]:
df_yied_group = df[['SK_ID_CURR','NAME_CONTRACT_TYPE','NAME_CONTRACT_STATUS','NAME_YIELD_GROUP']]
# Removing all rows with XNA
df_yied_group= df_yied_group.replace('XNA',np.nan)
df_yied_group= df_yied_group.dropna(how='all',axis=0)
df_yied_group.head()

   SK_ID_CURR NAME_CONTRACT_TYPE NAME_CONTRACT_STATUS NAME_YIELD_GROUP
0      271877     Consumer loans             Approved           middle
1      108129         Cash loans             Approved       low_action
2      122040         Cash loans             Approved             high
3      176158         Cash loans             Approved           middle
4      202054         Cash loans              Refused             high

In [7]:
df_bar = df_yied_group[['NAME_YIELD_GROUP','NAME_CONTRACT_STATUS','SK_ID_CURR']].groupby(['NAME_YIELD_GROUP', 'NAME_CONTRACT_STATUS']).size()
(df_bar / df_bar.groupby(level=0).sum())*100

NAME_YIELD_GROUP  NAME_CONTRACT_STATUS
high              Approved                84.628295
                  Canceled                 0.282455
                  Refused                 15.068873
                  Unused offer             0.020377
low_action        Approved                77.004813
                  Canceled                 1.044100
                  Refused                 21.951087
low_normal        Approved                76.398578
                  Canceled                 1.498937
                  Refused                 21.899750
                  Unused offer             0.202735
middle            Approved                83.789672
                  Canceled                 0.844029
                  Refused                 15.318313
                  Unused offer             0.047986
dtype: float64

## Analysis (yield_group vs Contract_Status)
<ul>
    <li> High and middle income gropus has highest percentage of approval  of around (83- 84) percentage</li>
    <li> loa_action and low_normal has an approval percentage less than high and middle groups</li>
    <li> High rejection rate with respect to low_action and low_normal of around 21 greater than 7 to high and medium groups</li>
</ul>

## Bi Variate  Numerical Analysis (Credit_Amount vs Application_amount)

In [8]:
df_credit_status = df[['SK_ID_CURR','NAME_YIELD_GROUP','NAME_CONTRACT_STATUS','AMT_APPLICATION','AMT_CREDIT',]]

In [9]:
df_credit_status['Req_gr_less_credit'] = df_credit_status['AMT_CREDIT'] - df_credit_status['AMT_APPLICATION']
df_credit_status.head()

C:\Users\mahes\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,SK_ID_CURR,NAME_YIELD_GROUP,NAME_CONTRACT_STATUS,AMT_APPLICATION,AMT_CREDIT,Req_gr_less_credit
0,271877,middle,Approved,17145.0,17145.0,0.0
1,108129,low_action,Approved,607500.0,679671.0,72171.0
2,122040,high,Approved,112500.0,136444.5,23944.5
3,176158,middle,Approved,450000.0,470790.0,20790.0
4,202054,high,Refused,337500.0,404055.0,66555.0

### Application credit amount is less than  Applied loan

In [10]:
# Removing all rows with XNA
df_credit_status= df_credit_status.replace('XNA',np.nan)
df_credit_status= df_credit_status.dropna(how='all',axis=0)

# limiting the analysis only for approved cases as the remaining are outliers
df_credit_status = df_credit_status[df_credit_status.NAME_CONTRACT_STATUS == 'Approved']

df_credit_status_more_credit = df_credit_status[df_credit_status.Req_gr_less_credit <0]
df_bar = df_credit_status_more_credit[['NAME_YIELD_GROUP','NAME_CONTRACT_STATUS','Req_gr_less_credit']].groupby(['NAME_YIELD_GROUP','NAME_CONTRACT_STATUS']).agg(['mean','count'])
# df_approved_Insured.dropna()
# data = (df_bar / df_bar.groupby(level=0).sum())*100
print (df_bar)
# data.plot(kind='bar',)

                                      Req_gr_less_credit
                                                    mean   count
NAME_YIELD_GROUP NAME_CONTRACT_STATUS
high             Approved                   -6585.755426  130642
low_action       Approved                  -17787.011044    5539
low_normal       Approved                  -10890.110969   83779
middle           Approved                  -13699.332009  102859

### Observation:
<ul>
    <li> On a avergae for low_action , low normal , middle - the approved loan amount is less than high income people</li>
    <li> compared to high income most of the low and middle income people has been approved with less amount than required</li>
</ul>

### Application credit amount is more than  Applied loan than the credit limit

In [11]:
df_credit_status_more_credit = df_credit_status[df_credit_status.Req_gr_less_credit >0]
df_bar = df_credit_status_more_credit[['NAME_YIELD_GROUP','NAME_CONTRACT_STATUS','Req_gr_less_credit']].groupby(['NAME_YIELD_GROUP','NAME_CONTRACT_STATUS']).agg(['mean','count'])
# df_approved_Insured.dropna()
# data = (df_bar / df_bar.groupby(level=0).sum())*100
print (df_bar)
# data.plot(kind='bar',)

                                      Req_gr_less_credit
                                                    mean   count
NAME_YIELD_GROUP NAME_CONTRACT_STATUS
high             Approved                   17437.366411  144775
low_action       Approved                   32029.538188   38184
low_normal       Approved                   47637.879376  108447
middle           Approved                   30717.451656  180865

### Observation:
<ul>
    <li> more number middle income group which has approval has beencredited with more amount application amount</li>
</ul>